<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event-View</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/view.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='/assets/logos/light-logo.png') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.parallax.min.js"></script>
  </head>
  <body>
    <div class="view-page" id="particles-js">
      <a href="/" class="close">
        <i class="fas fa-times"></i>
      </a>
      <div class="inner_page">
        <div class="event_header">
          <div class="event-image">
            <img
              src="{{ url_for('static', filename='img/'+event.images2) }}"
              alt="project expo"
            />
          </div>
          <div class="event-detail">
            <div class="event_name">{{ event.event_name }}</div>
            <a href="/register" class="event_type tag">Register Event</a>
          </div>
        </div>
        <div class="event_body">
          <div class="discription">
            <div class="discription_title">Description</div>
            <p class="text">
              {% for description in event.description.split('/') %} {{
              description.strip() }} <br />
              {% endfor %}
            </p>
          </div>
          <div class="event_place">
            <div class="timimg">
              <ul class="timing_details">
                <li class="time start_time">
                  <div class="time_display start">
                    <i class="far fa-clock"></i> {{ event.start_time }}
                  </div>
                </li>
                <li class="time start_time">
                  <div class="time_display end">
                    <i class="far fa-clock"></i> {{ event.end_time }}
                  </div>
                </li>
              </ul>
            </div>
            <div class="place">
              <div class="discription_title">
                <i class="fas fa-building"></i> Place
              </div>
              <div class="place_name">
                <div class="display_place">
                  Place: Near <span class="important">{{ event.place }}</span>
                </div>
              </div>
            </div>
            <div class="coordinators">
              <div class="discription_title">
                <i class="fas fa-users-cog"></i> Co-Ordinators
              </div>
              <div class="coordinator_destails">
                {% for coordinator in event.coordinator_name.split(',') %}
                <div class="coordinator_name">
                  <i class="fas fa-user"></i> Name: {{ coordinator.strip() }}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="coordinators">
              <div class="discription_title">
                <i class="fas fa-gavel"></i> Judges
              </div>
              <div class="coordinator_destails">
                {% for coordinator in event.judge.split(',') %}
                <div class="coordinator_name">
                  <i class="fas fa-balance-scale"></i> Judge: {{
                  coordinator.strip() }}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/particle.js') }}"></script>
  </body>
</html>
