<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="\static\css\ticket.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous"/> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="popup page-action" style="display: none" index="1">
      <div class="popup-main">
        <div class="close">X</div>
        <div class="details">
          <div class="popup-title"><h1>Tech Auction</h1></div>
          <div class="no-of-part">No. of Participants : 2</div>
          <div class="timings">Timing : Tuesday 9:00 AM - 10:30 AM</div>
          <div class="venue">Venue: 2nd year 'E' section , IIIrd floor</div>
          <div class="incharge">Staff : Mrs. Prema</div>
        </div>
        <div class="popup-description">
          <span class="popup-span">Description:</span><br />
          Tech enthusiasts come together at Tech Auction to place bids on which
          programming languages were used to create these well-known apps?
        </div>
        <div class="rules">
          <div class="popup-rules">
            <span class="popup-span">Rules</span><br />
            <ul>
              <li>
                The participants will be given an imaginary amount of 50,000 for
                the Auction.
              </li>
              <li>
                Participants will have the opportunity to bid on sets of 10
                questions, each accompanied by multiple options.
              </li>
              <li>
                The participant who purchases the set with the correct option
                for the highest number of questions will be declared the winner
                of the auction.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="popup page-action" style="display: none" index="2">
      <div class="popup-main">
        <div class="close">X</div>
        <div class="details">
          <div class="popup-title"><h1>Code Story</h1></div>
          <div class="no-of-part">No. of Participants : 2</div>
          <div class="timings">Timing : Tuesday 9:00 AM - 10:30 AM</div>
          <div class="venue">Venue: 2nd year 'D' section , IIIrd floor</div>
          <div class="incharge">Staff : Mrs. Julie</div>
        </div>
        <div class="popup-description">
          <span class="popup-span">Description:</span><br />
          You have to write code that matches the story scenario given to you.
          <br />
          For example, you have to code the actions and dialogue of the
          characters in the story.
        </div>
      </div>
    </section>

    <section class="popup page-action" style="display: none" index="3">
      <div class="popup-main">
        <div class="close">X</div>
        <div class="details">
          <div class="popup-title"><h1>Killer Sudoku</h1></div>
          <div class="no-of-part">No. of Participants : 2</div>
          <div class="timings">Timing : Monday 10:30 AM - 11:30 AM</div>
          <div class="venue">Venue: 2nd year 'D' section , IIIrd floor</div>
          <div class="incharge">Staff : Mrs. Uma [maths]</div>
        </div>
        <div class="rules">
          <div class="popup-rules">
            <span class="popup-span">Rules</span><br />
            <ul>
              <li>A puzzle that combines elements of sudoku and kakuro</li>
              <li>
                Despite the name, the simpler killer sudokus can be easier to
                solve than regular sudokus, depending on the solver's skill at
                mental arithmetic
              </li>
              <li>First team to complete will be the winner.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="popup page-action" style="display: none" index="4">
      <div class="popup-main">
        <div class="close">X</div>
        <div class="details">
          <div class="popup-title"><h1>Webify</h1></div>
          <div class="no-of-part">No. of Participants : 2</div>
          <div class="timings">Timing : Monday 9:00 AM - 10:30 AM</div>
          <div class="venue">Venue: CC13</div>
          <div class="incharge">Staff : Mrs. Deepika</div>
        </div>
        <div class="rules">
          <div class="popup-rules">
            <span class="popup-span">Rules</span><br />
            <ul>
              <li>
                You have to create a website that looks similar to the model
                given to you.
              </li>
              <li>
                You can use AI tools to help you with the design, but the final
                result should be realistic and original.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="popup page-action" style="display: none" index="5">
      <div class="popup-main">
        <div class="close">X</div>
        <div class="details">
          <div class="popup-title"><h1>Pictionary</h1></div>
          <div class="no-of-part">No. of Participants : 2</div>
          <div class="timings">Timing : Monday 8:30 AM - 9:30 AM</div>
          <div class="venue">Venue: 2nd year 'E' section , IIIrd floor</div>
          <div class="incharge">Staff : Mrs. Benitha</div>
        </div>
        <div class="popup-description">
          <span class="popup-span">Description:</span><br />
          The participants are asked to draw clues for your teammate to guess.
          <br />
          You can use the board and chalk to sketch the words on the cards. The
          team with the most points wins.
        </div>
      </div>
    </section>

    <section class="popup page-action" style="display: none" index="6">
      <div class="popup-main">
        <div class="close">X</div>
        <div class="details">
          <div class="popup-title"><h1>Cine Quiz Catch</h1></div>
          <div class="no-of-part">No. of Participants : 2</div>
          <div class="timings">Timing : Monday 10:30 AM - 11:30 AM</div>
          <div class="venue">Venue: 2nd year 'E' section , IIIrd floor</div>
          <div class="incharge">Staff : Mrs. Prabha</div>
        </div>
        <div class="rules">
          <div class="popup-rules">
            <span class="popup-span">Rules</span><br />
            <ul>
              <li>
                A ball will be given to you and a question related to a Tamil
                movie will be asked.
              </li>
              <li>
                If the participant throws the ball correctly in the basket
                he/she will be given a chance to answer the question.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="popup page-action" style="display: none" index="7">
      <div class="popup-main">
        <div class="close">X</div>
        <div class="details">
          <div class="popup-title"><h1>Crime Scene Brooklyn</h1></div>
          <div class="no-of-part">No. of Participants : 2</div>
          <div class="timings">Timing : Tuesday 8:30 AM - 9:30 AM</div>
          <div class="venue">Venue: 2nd year 'D' section , IIIrd floor</div>
          <div class="incharge">Staff : Ms. P. Haritha</div>
        </div>
        <div class="rules">
          <div class="popup-rules">
            <span class="popup-span">Rules</span><br />
            <ul>
              <li>You are a detective who has to solve a case in Brooklyn.</li>
              <li>
                You have to examine the crime scene, collect evidence, interview
                suspects, and find the killer.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="popup page-action" style="display: none" index="8">
      <div class="popup-main">
        <div class="close">X</div>
        <div class="details">
          <div class="popup-title"><h1>Accelerizen</h1></div>
          <div class="no-of-part">No. of Participants : 2</div>
          <div class="timings">Timing : Tuesday 10:30 AM - 11:30 AM</div>
          <div class="venue">Venue: 2nd year 'D' section , IIIrd floor</div>
          <div class="incharge">Staff : Mrs. Asha</div>
        </div>
        <div class="rules">
          <div class="popup-rules">
            <span class="popup-span">Rules</span><br />
            <ul>
              <li>
                One of the teammate will be blindfolded and an image will be
                displayed.
              </li>
              <li>
                The team mate must instruct his/her teammate who is blindfolded
                to complete the pose within 30 seconds.
              </li>
              <li>
                The teammate who matches the pose closest will be the winner.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <main class="main-div">
      <header>
        <p class="main--title">OptiVerve</p>
        <div class="description">
          <div class="description-para description--topic">
            <span class="note--span">Important Note ! </span>
            <!-- Event Scheduling and Team Participation -->
          </div>
          <br />
          <div class="description-para">
            <div class="description-para">
              <!-- <span class="note--sub-span">Event Time Clash Policy: </span> -->
              1. Participants are kindly reminded that they are not permitted to
              register for events that occur simultaneously. Please ensure that
              your chosen events do not overlap in timing to avoid scheduling
              conflicts.
            </div>
            <br />
            <div class="description-para">
              <!-- <span class="note--sub-span">Team Disqualification Policy: </span> -->
              2. In the event that a team member is unable to participate for
              any reason, the entire team will be disqualified from the
              competition. It is imperative that all team members commit to full
              participation to maintain fairness and uphold the integrity of the
              competition.
            </div>
            <br />
          </div>
          <div class="description-para">
            Thank you for your cooperation and understanding.
          </div>
        </div>
        <h1 class="header--title">Registration Form</h1>
      </header>

      <div class="container">
        <form action="{{url_for('auth.register')}}" method="post">
          <div class="input-fields">
            <div class="tl-fields">
              <div class="tl-name-div input">
                <label
                  >Enter Team Leader Name <span class="require">*</span></label
                >
                <input
                  type="text"
                  name="tl_name"
                  class="tl-name"
                  placeholder="Team Leader name"
                  required
                />
              </div>
              <div class="tm-name-div input">
                <label
                  >Enter Team Member Name <span class="require">*</span></label
                >
                <input
                  type="text"
                  class="tm-name"
                  name="tm_name"
                  placeholder="Team Member name"
                  required
                />
              </div>
            </div>
            <div class="tm-fields">
              <div class="tl-roll-div input">
                <label
                  >Enter Team Leader Roll no
                  <span class="require">*</span></label
                >
                <input
                  type="text"
                  name="tl_roll"
                  class="tl-roll roll-no"
                  placeholder="Team Leader Roll no"
                  required
                />
              </div>
              <div class="tm-roll-div input">
                <label
                  >Enter Team Member Roll no
                  <span class="require">*</span></label
                >
                <input
                  type="text"
                  name="tm_roll"
                  class="tm-roll roll-no"
                  placeholder="Team Member roll no"
                  required
                />
              </div>
            </div>
            <div class="tm-fields">
              <div class="tl-roll-div input">
                <label
                  >Enter Team Leader Section
                  <span class="require">*</span>
                </label>
                <input
                  type="text"
                  name="tl_section"
                  class="tl-roll class"
                  placeholder="Team Leader Class"
                  required
                />
              </div>
              <div class="tm-roll-div input">
                <label
                  >Enter Team Member Section
                  <span class="require">*</span></label
                >
                <input
                  type="text"
                  name="tm_section"
                  class="tm-roll class"
                  placeholder="Team Member Class"
                  required
                />
              </div>
            </div>
            <div class="tm-fields">
              <div class="tl-roll-div input">
                <label
                  >Enter Team Leader Email <span class="require">*</span></label
                >
                <input
                  name="tl_email"
                  type="text"
                  class="tl-roll class"
                  placeholder="Team Leader email"
                  required
                />
              </div>
              <div class="tm-roll-div input">
                <label
                  >Enter Team Member Email <span class="require">*</span></label
                >
                <input
                  name="tm_email"
                  type="text"
                  class="tm-roll class"
                  placeholder="Team Member email"
                  required
                />
              </div>
            </div>
            <div class="selects">
              <div class="technical">
                <p class="tech">Technical</p>
                <div class="events">
                  <div class="radio-div">
                    <label>
                      <input
                        type="radio"
                        class="radio"
                        value="tech-auction"
                        name="third"
                      />
                      <div class="label">Tech Auction [3]</div></label
                    ><span class="pop-up action-menu" index="1"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </div>
                  <div class="radio-div">
                    <label>
                      <input
                        type="radio"
                        class="radio"
                        value="code-story"
                        name="third"
                      />
                      <div class="label">Code Story [3]</div></label
                    ><span class="pop-up action-menu" index="2"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </div>
                  <div class="radio-div">
                    <label>
                      <input
                        type="radio"
                        class="radio"
                        value="killer-sudoku"
                        name="second"
                      />
                      <div class="label">Killer Sudoku [2]</div></label
                    ><span class="pop-up action-menu" index="3"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </div>
                  <div class="radio-div">
                    <label>
                      <input
                        type="radio"
                        class="radio"
                        value="webify"
                        name="first"
                      />
                      <div class="label">Webify [1]</div></label
                    ><span class="pop-up action-menu" index="4"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </div>
                </div>
              </div>

              <div class="non-technical">
                <p class="non-tech">Non-Technical</p>
                <div class="events">
                  <div class="radio-div">
                    <label>
                      <input
                        type="radio"
                        class="radio"
                        value="pictionary"
                        name="first"
                      />
                      <div class="label">Pictionary [1]</div></label
                    ><span class="pop-up action-menu" index="5"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </div>
                  <div class="radio-div">
                    <label>
                      <input
                        type="radio"
                        class="radio"
                        value="cine-quiz-catch"
                        name="second"
                      />
                      <div class="label">Cine Quiz Catch [2]</div></label
                    ><span class="pop-up action-menu" index="6"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </div>
                  <div class="radio-div">
                    <label>
                      <input
                        type="radio"
                        class="radio"
                        value="crime-scene"
                        name="first"
                      />
                      <div class="label">Crime Scene Brooklyn[1]</div></label
                    ><span class="pop-up action-menu" index="7"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </div>
                  <div class="radio-div">
                    <label>
                      <input
                        type="radio"
                        class="radio"
                        value="accelerizen"
                        name="fourth"
                      />
                      <div class="label">Accelerizen [4]</div></label
                    ><span class="pop-up action-menu" index="8"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="submit-div">
              <input type="submit" class="submit-btn" />
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="footer">Contact: <i class="fas fa-phone"></i></div> -->
    </main>
  </body>
</html>
